[flake8]
exclude = .git,.idea,.vscode,__pycache__
extend-ignore =
    # function is too complex
    C901,
    # whitespace before ‘,’, ‘;’, or ‘:’
    E203,
    # module level import not at top of file
    E402,
    # f-string is missing placeholders
    F541
max-complexity = 10
max-line-length = 88
per-file-ignores =
    # line too long, imported but unused
    __init__.py: E501, F401
